@model IEnumerable<agent_mvc.ViewModels.AgentVM>

@{
    ViewData["Title"] = "Agents";
}

<h1>Agents</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photoUrl)
            </th>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalKills)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nickname)
            </td>
            <td>
                    <img src="@item.photoUrl" alt="@item.photoUrl" style="max-height:500px; max-width:500px;" />
            </td>
            <td>
                x:y
                @item.AgentLocation.x:@item.AgentLocation.y
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalKills)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
